body {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 5px;
}

.header-container {
  overflow: hidden;
  position: absolute;
  height: 1000px;
  left: 0;
  top: 0;
  width: 100%;
}

.instagram {
  margin-bottom: -135px;
}
.instagram-iframe {
  overflow: hidden;
}
.instagram-iframe iframe {
  margin-top: -90px;
}

.cascabela {  
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
}
.cascabela img {
  width: 100%;
}

.sol { 
    left: -25%;
    position: absolute;
    top: -50%;
    width: 150%;
    height: 2000px;
    background: transparent url(images/sol.png) no-repeat center center;
    background-size: cover;
}
.video-container {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.ligas {
  background: #000;
  z-index: 3;
  position: relative;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  background: #d6272f;
  color: #fff!important;
  border: 0!important;
  font-weight: bold;
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 0;
  border-radius: 0;
  margin: 0 .5rem 1rem;
  opacity: .9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  opacity: 1;
}

.sol {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:20s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:20s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}


.despertar {
  background: url(images/bg-despertar.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
iframe {
  max-width: 100%;
}
a {
  color: #666;
}
a:hover, a:focus, a:visited {
  color: #999;
}
header {
  margin-top: -20px;
  padding-top: 40px;
  background: transparent;
  background-position: center;
  z-index: 20;
  position: relative;
  padding: 20px;
  color: #fff;
}
header .row {
  padding: 0 0 70px;
  color: #fff;
}
.block {
  display: block;
  padding: 60px 0;
  z-index: 3;
  position: relative
}
header p {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 300;
}
article {
  background: #222;
}
article h2 {
  font-weight: 100;
  font-size: 33px;
  margin-bottom: 20px;
}
article h2:before {
  content: ' ';
  background: url('images/icono.png') no-repeat;
  background-position: bottom;
  width: 33px;
  height: 33px;
  margin-right: 15px;
  display: inline-block;
}
table.table tr td {
  border-top: 0;
  border-bottom: 1px solid #111;
  padding: 15px 0;
  font-size: 18px;
  color: #999;
}
table.table tr td a {
  color: #fff;
}
table.table tr td:first-child {
  color: #ecda6c;
}
table.table tr td:last-child {
  text-align: right;
}
.footer {
  padding-left: 30px;
}
footer hr {
  margin-top: 3rem;
  border-color: #222;
}
.social {
  padding-top: 30px;
}
.social a {
  margin-right: 20px;
  margin-bottom: 10px;
}
.social a:hover {
  opacity: .5;
}
.bit-header {
  display: none;
}
.bit-events {
  margin: 30px 0;
}
.name {
  padding-top:50px;
}
.single-text {
  color: #3c445e;
}
.single-name {
  color: #804b5b;
  font-size: 54px;
}
.platforms {
  padding-top: 0;
  color: #3c445e;
}
iframe {
  box-shadow: 0 20px 40px rgba(0,0,0,.3);
}
footer {
  background: #000;
  border-top: 1px solid rgba(0,0,0,.1);
  text-align: center;
}
@media (max-width: 767px) {
  header .row {
    margin-top: 0px;
  }
  article {
    padding-bottom: 0;
    position: relative;
  }
  .cascabela {
    display: none;
  }
  .sol {
    width: 1000px;
    height: 1000px;
    left: -90%;
    top: -30%;
  }
  .header-container {
    height: 1000px;
  }
  .video-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {

  iframe {
    height: 250px;
  }

}
@media (min-width: 1200px) {

  .sol { 
      left: -40%;
      position: absolute;
      top: -70%;
      width: 180%;
      height: 3000px;
      background: transparent url(images/sol.png) no-repeat center center;
      background-size: cover;
  }

}
